<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <title>Search Page</title>
    <div class="content">
        <h1 style="text-align: center">Search</h1>
    
        <div class="form">
            <form action="/weather" method="POST">
                <label for="city"> CITY </label>
                <input type="text" name="city" id="city" placeholder="Enter city name">
                <label for="units"> UNITS </label>
                <input type="text" name="units" id="units" placeholder="Enter units" >
                <label for="appid"> APPID </label>
                <input type="text" name="appid" id="appid" placeholder="Enter api_key">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</body>
</html>
